# Visual Studio
.vs/
.vscode/

# Build output
Debug/
Release/
x64/
x86/

# User settings
*.user

# Intermediate files
*.obj
*.ilk
*.idb
*.pdb
*.tlog
*.log
*.exe.recipe

# VS Database
*.VC.db
*.VC.opendb